{
  "port": 8080,
  "host": "localhost",
  "clientOrigin": "",
  "database1": {
    "postgresHost": "",
    "postgresPort": 5432,
    "postgresUser": "",
    "postgresPassword": "",
    "postgresDb": "db_source"
  },
  "database2": {
    "postgresHost": "",
    "postgresPort": 5432,
    "postgresUser": "",
    "postgresPassword": "",
    "postgresDb": "db_destination"
  }
}